.contact__us{
    width: 100%;
    height: 80vh;
    overflow: auto;
}

.contact__us::-webkit-scrollbar{
    display: none;
}
.contact__h2{
    Padding-top: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.contact__container{
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 90% !important;
    overflow: hidden !important;
    margin: 1rem auto;
}
.cont__heading{
    height: 340px;
    width: 95%;
    border-right: 1px solid grey;
    border-bottom: 1px solid red;
    border-left: 1px solid rgb(136, 0, 136);
    border-radius: 2rem 0 2rem 0;
    margin: 1rem;
    overflow: hidden;
}

.cont__heading{
    width: 60% !important;
}

.cont__heading h3{
    font-weight: 700;
    color: var(--nfcs-text);
    text-align: center;
    width: 100%;
}

.cont__heading p{
    font-weight: 600;
    width: 98%;
    padding-top: 1rem;
}
.cont__heading{
    padding-left: 1rem !important;
    padding-top: .5rem;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contacts button{
    background: purple;
    color: white;
    padding: 0 3px 0 3px;
    border-radius: 8px;
}
.contacts code{
    font-weight: 800;
    margin-right: 1rem;
}
.cont__texts{
    justify-content: space-between;
    width: 90%;
    padding: 2rem;
}

.cont__icon{
    width: 40%;
    display: flex;
    margin: 1rem;
    gap: .2rem;
    
}

.contact_cont{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    gap: .5rem;
}


@media screen and (max-width: 700px){
    .cont__image{
        margin: 1rem auto;
        width: 90%;
        overflow: auto;
    }

    .cont__icon{
        display: flex;
        width: 80% !important;
    }
    .cont__texts{
        width: 90%;
        margin: 2rem auto;
       
    }
    .contact__container{
        flex-direction: column;
    }

    .cont__heading{
        width: 95% !important;
        border: none;
    }
}