.home{
    width: 100%;
}

.home h2{
    width: 100%;
    color: var(--nfcs-txt);
    margin-top: 3rem;
}

.featured__post{
}

.nfcs__gallery{
    text-transform: uppercase;
    color: rgb(224, 0, 49) !important;
    font-family:cursive;
    letter-spacing: 1rem;
}

@media screen and (max-width: 900px){
    .featured__post{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        margin: auto;
        grid: 20px;
        object-fit: contain;
    }
    .nfcs__gallery{
        font-size: 1rem;
        letter-spacing: .4rem;
    }
}