.Login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    margin: 5rem auto;
    align-items: center;
}

.login_card{
   box-shadow: 5px 1px 22px 5px rgba(99, 4, 121, 0.2);
   padding: 2rem 2rem 0rem 2rem;
   overflow: auto;
   width: 35%;
   z-index: 0;
}

.login_card::-webkit-scrollbar{
    display: none;
}
.login_card h3{
    text-align: center;
    color: grey;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.login_card p{
    padding: 0px 0px 7px 0px;
    text-align: left;
    font-size: .8rem;
    font-weight: 400;
}

.login_card p a{
    color: rgb(0, 75, 161);
    font-size: 500;
    text-decoration: none;
}


.field__name{
    text-align: left;
    color: purple;
    font-weight: 600;
    margin: 0 0rem 0 -7px;
}
.login_card form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login_card input{
    border: var(--nfcs-bg);
    outline: var(--nfcs-bg);
    background-color: rgb(251, 230, 253);
    padding: 7px;
    border-radius: 4px;
    width: 100%;
    margin: 0 0rem 0 -7px;
    font-size: .9rem;
    font-weight: 500;
}
.login_card form .MuiButtonBase-root{
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
}

.login_card form .MuiButtonBase-root:hover{
    background: rgb(66, 66, 253);
    color: white;
}

@media screen and (max-width: 700px){
    .login_card{
        width: 70%;
    }
}
@media screen and (max-width: 500px){
    .Login{
        height: 60vh;
    }
    .login_card{
        width: 70%;
    }
}

@media screen and (min-width: 1300px){
    .login_card{
        width: 40%;
    }
}

@media screen and (max-width: 1500px){
    .Login{
        height: 60vh;
    }
}