.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 0;
    background: var(--nfcs-bg); 
    color: var(--nfcs-txt);
    padding: 1rem .5rem .3rem .5rem;
    z-index: 9999;
    
}

.navigation a{
    font-size: .7rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.off{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-color: rgba(255, 255, 255, 0.089);

}
.navigation span{
    text-transform: uppercase;
    font-size: 600;
}
.navLinks ul{
    display: flex;
    height: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 3rem;
    margin-right: 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
}
.navLinks ul li a{
    text-decoration: none;
    color: var(--nfcs-txt);
}

.navLinks ul li .MuiSvgIcon-root{
    color: red;
    width: 30px;
    
}
.navLinks ul li a:hover{
    color: rgb(215, 7, 223);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.barIcon{
    display: none;
}
.dropdown{
    display: none;
}


@media screen and (max-width: 700px){
    .logout_btn{
        margin-bottom: 1rem;
    }
    .navigation a {
        font-size: .6rem;
        text-transform: uppercase;
        color: purple;
    }
    .navLinks ul li{
        display: none;
    }
    .barIcon{
        display: flex;
        margin-right: 1.5rem;
        transition: all 0.3s;
    }
    .login{
        font-style: capitalize !important;
    }
    .barIcon .MuiSvgIcon-root{
        color: var(--nfcs-txt);
        font-size: 2rem;
        margin-right: .5rem;
    }
    .rotate{
        transform: rotate(-90deg);
        background: yellow;
        transition: all 0.3s ease-in-out;
    }
    .dropdown{
        display: flex;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        margin: 3.2rem auto;
        background: white;
        border-bottom: 1px solid rgb(230, 212, 212);
        border-radius: 0 0 10px 10px;
        transition: all .5s ease-in ;
        z-index: 9999;
    }

    .dropdown ul li a{
        color: rgb(71, 1, 92);
        cursor: pointer;
        text-align: left;
        float: right;
        text-decoration: none;
        font-size: .8rem;
        font-weight: 700;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    .dropdown ul li a:hover{
        color: var(--nfcs-link)
    }
    .dropdown ul li:hover{
        transform: scale(1.2);
        transition: all 0.3s;
    }
    .dropdown ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        list-style: none;
        margin-left: 40%;
        margin: 0 auto;
    }
    .barIcon .MuiSvgIcon-root:hover{
        color: var(--nfcs-link);
        transition: .3s ease-in-out;
    }
}

.logout_btn{
    color: red;
    font-size: .74rem;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    padding: 0 5px 0 0;
    z-index: 9999;
    background-color: var(--nfcs-bg);


}

@media screen and (max-width: 900px){
    .navLinks ul{
        gap: 1.5rem;
        font-size: 1.2rem;
    }
    
}
@media screen and (max-width: 400px){
    .dropdown{
        margin: 4rem auto;
    }
    .logout_btn{
        z-index: 9999;
    }
    
 
}
@media screen and (max-width: 393px){
    .dropdown{
        margin: 3.1rem auto;
    }
}
@media screen and (max-width: 233px){
    .barIcon{
        display: none;
    }
    .dropdown{
       display: none;
    }
}