.AuthRegister{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: auto
}

.AuthRegister::-webkit-scrollbar{
    display: none;
}
.Register{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}


.register__card{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 1px 22px 5px rgba(99, 4, 121, 0.2);
    width: 50%;
    border-radius: 8px;
    margin-bottom: 2rem;
    
}

.register__card::-webkit-scrollbar{
    display: none;
}
.register__card h3{
    font-size: .8rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(108, 98, 110);
    padding: 1rem 0 .2rem 0;
}
.register__card form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    
}

.register__card form label{
    color: purple;
    font-size: 1rem;
    font-weight: 600;
}

.register__card input{
    border: 1px solid var(--nfcs-bg);
    outline: none;
    padding: 8px;
    font-size: .9rem;
    font-weight: 500;
    color: grey;
    background-color: rgb(251, 230, 253);
    width: 85%;
    margin: 0 auto;
}

.register__card input:hover{
    border: 4px solid var(--nfcs-bg);
    transition: .2s ease-in-out;
    border-radius: 3px;
}

.register__card form .MuiButtonBase-root{
    font-weight: 600;
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
}
.register__card form .MuiButtonBase-root:hover{
    color: white;
    background: blue;
}
.register__card form p {
    font-size: .8rem;
    font-weight: 500;
    color: gray;
}

.register__card form p a{
    color: rgb(0, 75, 161);
    text-decoration: none;
}

.register__card form .errorMsg{
    color: red;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: .9rem;
    margin-left: 2rem;
}

@media screen and (max-width: 800px){
    .register__card{
        width: 65%;
    }
}

@media screen and (max-width: 500px){
    .Register{
        height: 80vh;
    }
    .register__card{
        width: 75%;
    }
}
@media screen and (max-width: 450px){
    .register__card{
        width: 85%;
    }
}
